<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link  rel="stylesheet" href="/css/bootstrap.min.css">
    <title>相册</title>
  </head>
  <body>

  {#<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>相册</title>
</head>
<body>#}
  {% block head %}

     {% include 'nav.njk' %}
   
   {% endblock %}

  {#正文#}
  {% block content %}
  {% endblock %}
  </body>
</html>



{#<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>相册</title>
</head>
<body>#}
{# 网页模板#}
{#头部#}
  {#{%block header%}#}
  {#导入导航条#}
    {#{%include "nav.njk"%}

  {%endblock%}#}

  {#正文#}
{#
  {%block content%}
    
  {%endblock%}
</body>
</html>#}