
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
          {% if name %}
          <a class="navbar-brand" href="#">{{name}}</a>
          {%else%}
            <a class="navbar-brand" href="#">相册</a>
           {%endif%}
        
      </div>
    </div>
  </nav>