{%extends "base.njk"%}
    
{%block content%}
  <div class="row">

  {%for photo in photos%}
    <div class="col-xs-6 col-md-3">
      <a href={{photo}} class="thumbnail">
        <img src="{{photo}}" alt="...">
      </a>
    </div>
  {%endfor%}

</div>
{%endblock%}