{%extends 'base.njk'%}

{#<img src="{{img}}" alt="..." class="img-thumbnail">#}
  {%block content %}
  <div class="row">
  <h2 class="col-xs-12	col-sm-12	col-md-12	col-lg-12 text-center">{{status}}</h2>
 
</div>
  
  {% endblock %}